html {
  box-sizing: border-box;
}

body {
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 7.5rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 3rem;     
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin: 10rem auto 0 auto;
    padding: 1rem;
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    gap: 4rem;
}

.expressions {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

.btn1 {
    box-shadow: 0px 2px 20px 0px #00000080;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    background-color: #C271FF;
    padding: 0.8rem 1.25rem;
    border-radius: 22px;
    margin-top: 2.5rem;
    border: none;
    cursor: pointer;
}

h2 {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 11rem;
    color: #C271FF;
}

.ftp {
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

.pros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.pro > h3 {
    font-family: Source Sans Pro;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 0.7rem;
}

.pro > p {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
}